@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-btn.is-active .bar:nth-child(2) {
    opacity: 0;
}

#menu-btn.is-active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    background-color: #1e293b;
}

#menu-btn.is-active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    background-color: #1e293b;
}

#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
