<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <header class="flex flex-col h-screen bg-green-200 justify-around w-72">
        <img src="/assets/images/logo.png" alt="Hotel logo">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Booking</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div>
            <button>Login</button>
            <button>Sign-up</button>
        </div>
    </header>