<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><?php echo $this->viewTitle; ?></title>
</head>
<body class="max-w-screen-2xl mx-auto bg-slate-900">
    <header class="bg-light flex px-10 justify-between rounded items-center md:px-16">
        <nav class="relative container flex justify-between items-center mb-2">
            <div>
                <img src="/assets/images/logo.png" alt="hotel logo" width="100" class="py-1">
            </div>
            <ul class="hidden md:flex space-x-14">
                    <li><a class="text-light hover:text-secondary py-3 bg-slate-900 rounded px-6 pb-8" href="#">Home</a></li>
                    <li><a class="text-dark hover:text-secondary py-3" href="#">Booking</a></li>
                    <li><a class="text-dark hover:text-secondary py-3" href="#">About</a></li>
                    <li><a class="text-dark hover:text-secondary py-3" href="#">Contact</a></li>
            </ul>
            <div class="hidden md:flex space-x-1 items-center">
                <a class="text-slate-400  font-medium px-6 py-2 hover:text-slate-800 baseline" href="">Login</a>
                <a class="bg-slate-400 text-slate-50  font-medium px-6 py-2 rounded-full baseline hover:bg-slate-800 " href="">Sign-up</a>
            </div>
            
        </nav>
    </header>
    <!--hero section-->
    <section id="hero" class="mx-10 md:mx-16">
        <!--flex container-->
        <div class="container flex flex-col-reverse md:flex-row mt-20 space-y-0 items-center md:space-y-0 ">
            <!--left item-->
            <div class="flex flex-col space-y-12 md:w-1/2">
                <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left text-slate-50">
                    Book your best Suit & rooms
                </h1>
                <p class="max-w-md text-light  text-center md:text-left opacity-70">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempore, maiores magnam praesentium optio laboriosam distinctio consectetur necessitatibus sed. Nostrum, natus suscipit sed sint nobis consequuntur, exercitationem ullam itaque corporis doloremque maxime?
                </p>
                <div class="flex justify-center items-center md:justify-start">
                    <a class="bg-secondary text-light  font-medium px-6 py-2 rounded-full  hover:bg-dark hover:border border-light" href="">Book now</a>
                </div>
            </div>
            <!--right item-->
            <div class="w-1/2">
                <img src="/assets/images/hero-image.jpg" alt="">
            </div>
        </div>
    </section>
    <footer class="flex flex-col  justify-between mt-20  mx-10  md:mx-16 md:flex-row">
        <p class="text-light opacity-50">Copyright © 2022 PESTANA CR7 LIFESTYLE HOTELS.</p>
        <div class="flex justify-between space-x-14">
            <span class="text-light opacity-50 cursor-pointer">
                Facebook
            </span>
            <span class="text-light opacity-50 cursor-pointer">
                instgram
            </span>
            <span class="text-light opacity-50 cursor-pointer">
                twitter
            </span>
        </div>
    </footer>
    </body>
    
    </html>